{% extends 'customer_portal/base.html' %}

{% block title %}Company detail{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <div class="card shadow-sm">
                    <div class="card-header">
                        Company detail
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ company.company_name }}</h5>
                        <p class="card-text">Information: {{ company.email_domain }}</p>
                    </div>
                </div>
                
                <div class="mt-4">
                    <h3>Company clients:</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Client Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Company</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if company.clients %}
                            {% for client in company.clients.all %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ client.first_name }} {{ client.last_name }}</td>
                                <td>{{ client.email }}</td>
                                <td>{{ client.company }}</td>
                                <td>
                                    <a href="{% url 'client-detail' client.id %}" class="btn btn-info btn-sm">Detail</a>
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="7">No clients found.</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
    </div>
</section>
{% endblock %}