{% extends 'customer_portal/base.html' %}

{% block title %}Client detail{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <div class="card shadow-sm">
                    <div class="card-header">
                        Client detail
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ client.first_name }} {{ client.last_name }}</h5>
                        <p class="card-text">Email: {{ client.email }}</p>
                        <p class="card-text">Company: {{ client.company }} </p>
                        <p class="card-text"><a href="{% url 'company-detail' client.company.id %}" class="btn btn-info btn-sm">Detail Company</a></p>
                    </div>
                </div>
                <div class="mt-4">
                    <h3>Client tickets:</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Ticket Name</th>
                                <th scope="col">Client</th>
                                <th scope="col">Due date</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if client.tickets %}
                            {% for ticket in client.tickets.all %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ ticket.ticket_name }}</td>
                                <td>{{ ticket.client }}</td>
                                <td>{{ ticket.due_date }}</td>
                                <td>
                                    <a href="{% url 'ticket-detail' ticket.id %}" class="btn btn-info btn-sm">Detail</a>
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="7">No tickets found.</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}