
{% extends 'customer_portal/base.html' %}

{% block title %}Create Company{% endblock %}

{% block content %}
{% load static %}
<section class="py-5">
    <div class="container">
        <h2 class="mb-4">Create Company</h2>
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="card shadow-sm">
                    <div class="card-header">
                        Company information
                    </div>
                    <div class="card-body">
                        <form method="POST" action="{% url 'company-create' %}"> 
                            {% csrf_token %}  <!-- CSRF Token added here -->
                            {{ form.as_p }}
                            <button type="buscar" class="btn btn-info">Create</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}